.thero {
  background-image: url("../images/wish.jpg");
  height: 92vh;
  width: 100%;
  background-size: cover;
  border-radius: 10px solid black;
}
.travelbody {
  overflow-x: hidden;
}

.galeriat_tytul {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid grey;
}
.trav {
  background-color: grey;
  border: solid 2px black;
  border-radius: 1px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 1px;
}

.trav__content {
  margin-left: 40px;
  font-size: 10px;
}

.trav:hover {
  color: black;
  background-color: #eeeeee;
  display: flex;
}

.galleryt_content {
  display: flex;
  background-color: black;
}


.galleryt_row {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
}

.tbox-container {
  margin: 30px 0px;
  overflow: hidden;
  height: 200px;
  transition-property: height;
  transition-duration: 2.5s;
  transition-timing-function: linear;
  transition-delay: 1.5s;
}

.tbox-container:hover .img {
  height: 150px;
  transform: rotateY(180deg);
}
.img {
  transition-property: all;
  transition-duration: .4s;
}
.img {
  height: 300px;
}

.footer {
  padding: 15px 0;
  text-align: center;
  background-color: black;
  margin-top: 2px;
}

.footer_border {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 0;
  padding: 7px;
}

.footer__text {
  color: #ffffff;
  font-size: 20px;
  font-family: lato;
