.thead {
  float: left;
   width: 600px;
   height: 350px;
   margin: 50px 100px 40px 100px;
  background-image: url("../images/sailor chicken w.jpg");
  border: 1px solid black;
}

  .moto {
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  margin-left: 800px;
  padding-top: 180px;
}

.fling {
  background-color: #fbeae2;
  width: 100%;
  height: 30vh;
  margin: 0 0;
  overflow: hidden;
}

.blind {
  background-color: #353536;
  width: 100%;
  height: 30vh;
  margin: 0 0;
  color: white;
  overflow: hidden;
}

.galeriat_tytul {
  background-color: #d89375;
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 15px 70px;
  margin: 0;
  text-decoration: none;
  border: 1px solid grey;
}

.galeriat_tytul:hover {
  background-color: #cccccc;
  color: black;
}

.button {
  background-color: #fbeae2;
  border: 1px solid grey;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 1px;
  font-size: 10px;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: #666666;
}

.galeriat {
  display: none;
}

.galleryt_content {
  display: flex;
  background-color: black;
}


.galleryt_row {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
  }

.tbox-container {
  margin: 30px 0px;
  overflow: hidden;
  height: 200px;
  transition-property: height;
  transition-duration: 4.5s;
  transition-timing-function: linear;
  transition-delay: 1.5s;
}

.tbox-container:hover .img {
  height: 150px;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img {
  transition-property: all;
  transition-duration: .4s;
}
.img {
  height: 300px;
}

.foto {
background-image: url("../images/wish.jpg");
width: 100%;
height: 92vh;
background-size: cover;
}

.footer {
  padding: 15px 0;
  text-align: center;
  background-color: #e5e3ea;
  margin-top: 0;
}

.footer_border {
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  margin: 0 0;
  padding: 7px;
}

.footer__text {
  color: black;
  font-size: 20px;
  font-family: lato, sans-serif;
}
