.header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
}

.nawigacja {
  display: inline-block;
  text-decoration: none;
}

.thero {
  background-image: url("../images/wish.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  border-radius: 5px solid black;
}

.trav {
  background-color: #eeeeee;
  border: solid 2px black;
  border-radius: 3px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 1px;
}

.trav__content {
  margin-left: 40px;
  font-size: 10px;
}

.galleryt_content {
  display: flex;
  background-color: grey;
}

.galleryt_row {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
}

.tbox-container {
  margin: 30px 0px;
  overflow: hidden;
  height: 300px;
  transition-property: height;
  transition-duration: 2.5s;
  transition-timing-function: linear;
  transition-delay: 1.5s;
}

.tbox-container:hover .img {
  height: 200px;
  transform: rotateY(180deg);
}
.img {
  transition-property: all;
  transition-duration: .4s;
}
.img {
  height: 300px;
}

.galeriat_tytul {
  text-align: center;
  font-size: 25px;
  color: grey;
}
